* {
    margin: 0;
}

body {
    background: linear-gradient(to right,#DB4455, #0096c6, #7fffd4, #ffcfff);
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    top: 0;
    position: fixed;
}
.main_header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.main_title {
    padding: 15px 40px;
}
.main_title > a {
    text-decoration: none;
    font-family: "Elice Digital Baeum",sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
    font-weight: 600;
    padding: 10px 10px;
}
.form {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.login_title {
    font-family: "Elice Digital Baeum",sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #fafafa;
    width: 85%;
}
.login_page {
    width: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.5), 0 5px 5px 0 rgba(255, 255, 255, 0.24);
}
.login-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.lookFor {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.lookFor > a {
    font-family: "Elice Digital Baeum",sans-serif;
    text-decoration: none;
    color: white;
}
.lookFor > a:hover {
    text-decoration: underline white;
}
.form input {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    outline: 0;
    background: #f2f2f2;
    width: 85%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 10px;
}
.form #login_btn {
    font-family: "Elice Digital Baeum",sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #fafafa;
    width: 75%;
    text-align: center;
    border: 0;
    margin-top: 40px;
    padding: 15px;
    border-radius: 10px;
    color: #000;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}
.message {
    margin-top: 20px;
    font-family: "Elice Digital Baeum",sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    width: 85%;
    text-align: center;
}
.message > a{
    margin-left: 30px;
    color: rgb(238, 238, 238);
}
@media screen and (max-width: 460px) {
    .login_page {
        width: 100%;
        padding: 20px 0;
    }
    .main_title {
        padding: 5px 20px;
    }
    .main_title > a {
        font-size: 35px;
    }
}