<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin/main.css">
    <script src="/js/admin/main.js"></script>
    <title>ESPORT G</title>
</head>
<body>
    <header>
        <nav class="main_header">
            <div class="header_title"><a href="/admin">ESPORT G ADMIN</a></div>
        </nav>
    </header>
    <div class="menu">
        <ul class="nav_menu_list">
            <li><a href="/admin/competition">대회(Competition Admin)</a></li>
            <li><a href="/admin/adver">광고(Advertisement Admin)</a></li>
            <li><a href="/admin/notice">공지(Notice Admin)</a></li>
            <li><a href="/admin/news">뉴스(News Admin)</a></li>
            <li><a href="/admin/faq">FAQ(FAQ Admin)</a></li>
            <li><a href="/admin/user">유저(User Admin)</a></li>
            <li><a href="">고객센터(Customer Service Center)</a></li>
        </ul>
    </div>

</body>
</html>