<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user/login.css">
    <script src="/js/user/login.js" defer></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="//font.elice.io/EliceDigitalBaeum.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">  
    <title>ESPORT G</title>
</head>
<body>
    <header>
        <div class="main_header">
            <div class="main_title"><a href="">ESPORT G</a></div>
        </div>
    </header>
    <div class="login_page">
        <div class="form" method="post">
            <div class="login_title"><span>로그인</span></div>
            <div class="login-form">
                <input id="login_id" type="text" placeholder="아이디"/>
                
                <input id="login_psword" type="password" placeholder="비밀번호"/>
                <div class="lookFor">
                    <a href="/lookforid">아이디찾기</a>
                    <a href="/lookforpw">비밀번호찾기</a>
                </div>
                <p id="login_btn">로그인</p>
                <p class="message">Not registered? <a href="/register">회원가입하기</a></p>
            </div>
        </div>
    </div>
</body>
</html>